.App {
  text-align: center;
  padding-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3B71CA;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3B71CA;
  color: white;
  text-align: center;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-item {
  padding: 0.5rem;
  position: relative;
  float: left;
  width: 100%;
  z-index: 1000;
}

div#breeds{
  opacity: 100%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 999;
}

div.rbt-token {
  border: 1px solid black;
  padding: 10px;
}



div.App-search {
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 45px;
}



.dog button.AddRemove {
  position: relative;
  float: left;
  top: 50%;
  width: 60px;
  margin-right: -10px;
}

.dog .dog-img{
  width: 100px;
  height: 100px;
  margin: 0;
  position: relative;
  float: left;
}

.dog .dog-img img {
  border-radius: 5px;
}

.dog .dog-img img:hover { 
  cursor: pointer;
}

.dog .dog-info {
  float: left;
  width: 250px;
  height: 95px;
}

/* vertical and horizontal centering */

div.Login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}